html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

p {
  margin: 6px;
  padding: 6px;
  border: 4px solid black;
  width: 100px;
  height: 100px;
  background-color: orange;
}

.my-grid {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
  grid-template-rows: 50px 100px;
  border: 1px solid black;
}

.has-blue-background {
  background-color: #a7ddff;
  border: 1px solid #721ee3;
}

.has-yellow-background {
  background-color: #faf7a7;
  border: 1 solid #e38c1e;
}
